body{
    background-color: lightslategray;
}
.container{
    background-color: 1B244A;  
    width:35em;
    height: 20em;
    margin: auto;
    margin-top: 15em;
}
.header {
    display: flex;
    justify-content: space-around;
    color: EEEEEE;
    font-family: Verdana, sans-serif;
    user-select: none;
}
.scores{
    display: flex;
    justify-content: space-around;
    user-select: none;
}
#s1{
    background-color: black;
    height: 70px;
    width: 80px;
    border-radius: 5px;
    color: F94F6D;
    font-size: 70px;
    font-family: Cursed Timer ULiL, sans-serif;
    padding: 25px;
    padding-left: 55px;
}
#s2{
    background-color: black;
    height: 70px;
    width: 80px;
    border-radius: 5px;
    color: F94F6D;
    font-size: 70px;
    font-family: Cursed Timer ULiL, sans-serif;
    padding: 25px;
    padding-left: 55px;
}
.increments{
    display: flex;
    height: 100px;
}
.increment{
    display: flex;
    width: 255px;
    height: 45px;
    margin-left: 59px;
}
.box{
    width: 45px;
    height: 45px;
    margin: 5px;
    margin-top: 30px;
    border-radius: 5px;
    border: 1px solid lightblue;
    background-color: 1B244A;
    font-family: Cursed Timer ULiL, sans-serif;
    color: 9AABD8;
    font-size: 17px;
}
.reset{
    display: block;
    background-color: 1B244A;
    border: 1px solid lightblue;
    border-radius: 5px;
    height: 30px;
    color: 9AABD8;
    font-family: Verdana, sans-serif;
    margin-left: 250px;
}